@import "index.css";
main {
    color: white;
    display: grid;
    padding: 60px 0px 0px 6px;
    text-align: left;
}

html {
    scroll-behavior: smooth;
  }

body{
    height: 100%;
}

.topgrid1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px 10vw 40px 2vw;
    text-align: left;
    align-content: flex-start;
    vertical-align: text-bottom;
    transition-duration: 0.4s;
    visibility: visible;
}
.topgrid3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    padding: 10px 3vmax 0px 15px;
    vertical-align: text-bottom;
    visibility: visible;
    transition-duration: 0.4s;
}
#navbar{
    display: grid;
    width: 90%;

    margin: auto;
    grid-auto-rows: 1fr;
   
}
#navwrapper{
    width: 100%;
    background: #522483; 
    height: 80px;
}
.navbarlogo{
    width: 70%;
    text-align: center;
    vertical-align: bottom;
    margin-top: 15%;
}
.navlink0{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    grid-row-start: 1;
    margin-top: 40px;
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 150%;
    grid-row-end: 2;
}
.navlink0:hover{
    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 1fr;
    
    transition-duration: 3ms;

}
.navlink1{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    grid-row-start: 1;
    margin-top: 40px;
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 150%;
    grid-row-end: 2;
    transition-duration: 4ms;
}
.emptyspc{
    grid-row-start:2;
    grid-row-start:3;
}
.navlink1:hover{
    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 1fr;
    
    transition-duration: 3ms;
}
.navlink2{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 150%;
    margin-top: 40px;
    grid-row-start: 1;
    white-space: pre-wrap;
    overflow: hidden;
    grid-row-end: 2;
    transition-duration: 4ms;
}
.navlink2:hover{

    background-color: #7240A8;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 1fr;
    transition-duration: 3ms;
}
.navlink3{
    color: white;
    text-decoration: none;
    margin-right: 1fr;
    height: 39px;
    font-size: 150%;
    margin-top: 40px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    grid-row-start: 1;
    grid-row-end: 2;
    white-space: pre-wrap;
    overflow: hidden;
    transition-duration: 4ms;
}
.navlink3:hover{

    background-color: #7240A8;
    margin-right: 1fr;
    border-radius: 5px;
    margin-top: 40px;
    transition-duration: 3ms;
}
.navlink4{
    color: white;
    text-decoration: none;
    height: 39px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 150%;
    white-space: pre-wrap;
    overflow: hidden;
    transition-duration: 4ms;
}
.navlink4:hover{

    background-color: #7240A8;
    margin: 0px;
    margin-top: 40px;
    border-radius: 5px;
    transition-duration: 3ms;
}

.logogrid{
    width: 10vmax;
}



@media only screen and (max-width: 768px){
    #navbar{
        grid-auto-rows: auto;
    }
    .topgrid1{
        padding: 25px 0px 0px 24vw;
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: middle;
        vertical-align: text-bottom;
        visibility: visible;
    }

    .logogrid{
        width: auto;
        height: auto;
    }
    .topgrid3{
        visibility: visible;
    }
    .topgrid1text{
        visibility: hidden;
    }
    #navbar .navlink0{
        visibility: hidden;
    }
    #navbar .navlink1{
        visibility: hidden;
    }
    #navbar .navlink2{
        visibility: hidden;
    }
    #navbar .navlink3{
        visibility: hidden;
    }
    #navbar .navlink4{
        visibility: hidden;
    }
    .navbarlogo{
        width: 30%;
        text-align: left;
        vertical-align: bottom;
        margin-top: 2vh;
    }
    
}

.sidelines{
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
    visibility: hidden;
}
.sidelines:hover{
    color: #724E99;
    transition-duration:  0.2s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 4px 8px 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: pre-line;
    overflow: auto;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
 
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}
  }

#main{
    display:grid;
    width: 75%;
    margin: 100px auto 0px auto;
    color: black;
    grid-auto-rows: auto;

    font-size: 1.5em;
}

#play{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    line-height: 1.5em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
}
#play p span{
    color: #9C69D2;
}
#play h1{
    color:#9C69D2;
}
#play p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#play:hover{
    box-shadow: 3px 3px #9C69D2;
}
#playButton {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: -5% auto -20% auto;
}
#playButton .button{
    padding: 30px 80px ;
    color: white;
    font-size: 1em;
}
#h2p{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 5px;
    line-height: 1.5em;

    transition-duration: 4ms;
}
#h2p:hover{
    box-shadow: 3px 3px #9BBA27;
}
#h2p h1{
    color:#9BBA27;
}
#h2p p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#us{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    line-height: 1.5em;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
}
#us:hover{
    box-shadow: 3px 3px #C29F29;
}
#us h1{
    color: #C29F29;
}
#us p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#how{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    line-height: 1.5em;
    background-color: white;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
}

#how p{
    text-align: right;
}

#how:hover{
    box-shadow: 3px 3px #AF399D;
}

#how h1{
    color:#AF399D;
}

#how p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}


@media only screen and (max-width: 1000px){

    #h2p{
        margin-top: 25px;
    }
    #how{
        margin-top: 25px;
    }
    #navlink0{
        margin-right: 10px;
    }
    #navlink1{
        margin-right: 10px;
    }
    #navlink2{
        margin-right: 10px;
    }

    #navlink3{
        margin-right: 10px;
    }   
    #navlink4{
        margin-right: 10px;
    }


}

@media only screen and (max-width: 768px){
    #main{
        font-size: 1em;
        margin: 70px auto 0px auto;
        width: 90%;
    }
    .sidelines{
        visibility: visible;
    }
    #play{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #playButton {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: -5%;
        font-size: 1.2em;
    }
    #h2p{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #us{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #how{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    
}

#h2p .button:hover{
    color: black;
}

#main .button:hover{
    color: black;
}

#h2p .button {
    font-size: 1em;
    padding: 15px 32px;
    color: white;
}

#contact {
    height: 100%;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, rgba(84, 30, 142, 0) 0%, rgba(84, 30, 142, 0.247) 15%, #270D42 100%);
    box-shadow: 5px 5px #9C69D2;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.3em;
}

#contact a{
    color: #9BBA27;
}

.footerlogo{
    width: 10vw;
    
    margin: auto;  
    margin-top: -30px;
}

#contact p{
    margin-top: -20px;
    margin-bottom: -30px;
}
@media only screen and (max-width: 768px){
    .footerlogopic{
        width: 100em;
    }
    .footerlogo{
        width: 30%;
    }
}
